## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From c:\Users\Jacky Zhang\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().loc[application_df['APPLICATION_TYPE'].value_counts()<528].keys()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_value_count = application_df['CLASSIFICATION'].value_counts()
CLASSIFICATION_value_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_value_count_gt1 = CLASSIFICATION_value_count.loc[CLASSIFICATION_value_count>1]
CLASSIFICATION_value_count_gt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
classifications_to_replace = CLASSIFICATION_value_count_gt1.loc[CLASSIFICATION_value_count_gt1<=777].keys()
classifications_to_replace

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256'],
      dtype='object')

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = CLASSIFICATION_value_count.loc[CLASSIFICATION_value_count<=777].keys()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df[['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE',	'ORGANIZATION',	'INCOME_AMT','SPECIAL_CONSIDERATIONS']])
numeric_columns = application_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']]
application_df_afterDummies = pd.concat([application_df_dummies,numeric_columns],axis=1)
application_df_afterDummies

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,108590,1
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,5000,0
3,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,6692,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
34295,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,1,5000,0
34296,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,5000,0
34297,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,5000,1
34298,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,36500179,0

In [11]:
# Split our preprocessed data into our features and target arrays
# y represent Target, X represent Features
y = application_df_afterDummies['IS_SUCCESSFUL']
X = application_df_afterDummies.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\Jacky Zhang\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\Jacky Zhang\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Jacky Zhang\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Jacky Zhang\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 3s 2ms/step - loss: 0.5704 - accuracy: 0.7194
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7293
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7316
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7317
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7356
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7347
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7354
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7359
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7370
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7373
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7370
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7366
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7377
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7374
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7370
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7365
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7361
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7373
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7375
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7384
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7370
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7366
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7367
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7374
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7369
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7380
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7377
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7384
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7383
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7380
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7395
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7379
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7381
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7390
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7384
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7386
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7385
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7391
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7392
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7390
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7401
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7387
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7390
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7390
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7391
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7393
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7389
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7401
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7397

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5643 - accuracy: 0.7305 - 474ms/epoch - 2ms/step
Loss: 0.5642690062522888, Accuracy: 0.7304956316947937

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

c:\Users\Jacky Zhang\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(